.container-project {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.project-header {
  display: flex;
  align-items: flex-end;
}

.project-header h1 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  font-size: 3rem;
  line-height: 1;
}

.project-content-container {
  padding-top: 2.5rem;
  overflow: hidden;
}

@media (min-width: 768px) {
  .container-project {
    padding-left: 0;
    padding-right: 0;
  }

  .project-header {
    padding-left: 1.375rem;
    padding-right: 1.375rem;
  }

  .project-header h1 {
    font-size: 3.75rem;
    line-height: 1;
  }

  .project-content-container {
    padding-left: 1.375rem;
    padding-right: 1.375rem;
  }
}

.grid-content-project-1 {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  padding-bottom: 2rem;
}

.content-grid {
  padding-top: 1rem;
  grid-column: span 5 / span 5;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: justify;
}

@media (min-width: 768px) {
  .grid-content-project-1 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .content-grid {
    padding-top: 0;
    grid-column: auto;
    font-size: 0.75rem;
    line-height: 1rem;
  }
}